<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}成員抽籤{% endblock title %}</title>
  </head>
  <body>
<p>Input data</p>
<form action="/ama/key_cycling" method="post">
  Create Date:&emsp;<input id="cur_time" type="text" name="create_date" value="{{cur_time}}"><br>
  Expire Date:&emsp;<input id="two_hr" type="text" name="expire_date" value="{{two_hr}}"><br>
  Chassis Number:&emsp;<input type="text" name="chassis_sn"><br>
  FRU VRC ID:&emsp;<input type="text" name="fru_id"><br>
  SDR VRC ID:&emsp;<input type="text" name="sdr_id"><br>
  SYS Log ID:&emsp;<input type="text" name="sys_log_id"><br>
  SKU HW CFG Check:&emsp;<input type="text" name="cfg_chk" placeholder="True/False"><br>
  <input type="submit" value="Submit">
<p><strong>{{value}}</strong></p>
</form>
    </ul>
  </body>
</html>
